

/**
 * ======>header
 *
 * ==> fonts
 * ==> user panel in side bar
 * ==> btn-delete
 * ==> alert color
 * ==> status tag color
 * ==> settings/preview-img
 * ==> dropdown-menu
 * ==> card-header/btn
 * ==> btn-card-group
 * ==> notifications
 */

@font-face {
    font-family: Tajawal;
    src: url(../../webfonts/Tajawal-Regular.ttf);
}
body{
    font-family: Tajawal, sans-serif !important;
}

.sidebar .user-panel .info{
    position: relative;
    width: 100%;
}
.sidebar .user-panel .info .logout{
    position: absolute;
    top: 7px;
    right: 2px;
    color: #e74c3c;
}

.btn-delete{
    cursor: pointer;
}
.success-color{
    color: #a5dc86;
}
.warning-color{
    color: #ffc107;
}
.danger-color{
    color: #e74c3c;
}
.primary-color{
    color: #007bff;
}
.info-color{
    color: #17a2b8;
}
.draft-status{
    color: #2980b9;
}
.loaded-status{
    color: #3498db;
}
.onWay-status{
    color: #27ae60;
}
.shipped-status{
    color: #2ecc71;
}
.canceled-status{
    color: #e74c3c;
}
.preview-img {
    width: 250px;
    height: 250px;
    margin: 20px 0;
    display: block;
}
.dropdown-menu{
    max-width: 300px !important;
    min-width: 280px !important;
}
.card-header .btn{
    float: left !important;
    margin-left: 10px;
}
.btn-card-group{float: right;}

.btn-card-group .btn:first-child{
    float: right !important;
    margin-left: 10px;
}

/**
 * ======> data tables
 *
 * ==> table
 * ==> filter
 * ==> table-img
 * ==> table/btn
 * ==> dataTables_filter
 */
.table{
    width: 100% !important;
}
.dataTables_filter{
    float: right !important;
}
.table-img{
    width: 45px;
    border-radius: 50%;
}
table .btn{
    margin-left: 15px;
}
.dataTables_filter{
    float: left !important;
}
div.dataTables_wrapper div.dataTables_filter input{
    margin-left: 0.12em !important;
}
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child{
    border-right-width: 1px !important;
}
/**
 * ====> Users
 *
 * ==> view page
 * ==> amsify-suggestags
 */
.img-rounded{
    width: 215px;
    height: 215px;
}
.user-info small{
    margin-left: 10px;
    color: #797777;
}
.amsify-suggestags-area .amsify-suggestags-input-area{
    text-align: right!important;
}

/**
 * =====> supplier bill
 *
 * ==> bill info
 */
.bill-info li{
    display: flex;
    flex-wrap: wrap;
    font-size: 19px;
}
.bill-info .info{
    margin-right: 15px;
    color: #17a2b8 !important;
    font-size: 20px !important;
}

/**
 * =====> Clients
 *
 * ==>search-area
 */

.search-area{
    position: absolute;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: 1px 1px 1px rgba(0,0,0,.12);
    overflow-y: scroll;
    width: 100%;
    height: 250px;
    z-index: 1;
}
/**
 * =====> chicks orders
 *
 * ==>chicks-orders-info
 */
.main-info{
    font-size: 20px;
}
.main-info .title{
    font-weight: bold;
}
.main-info span.title:after {
    content: ":";
    padding: 0 10px;
}

.main-info .even{
    color: #6c757d;
}
.main-info .odd{
    color: #17a2b8;
}
/**
 * =====> ui components
 *
 * ==>checkbox
 * ==>ICheckbox
 * ==>hide
 * ==>datepicker
 * ==>list-ar-numeric
 */

.checkbox,.radio{
    position:relative;
    cursor:pointer;
    height:32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0.5em;
}
.checkbox input,
.radio input {
    display:none;
}
.checkbox span:before,
.checkbox span:after,
.radio span::before,
.radio span::after{
    content:"";
}
.checkbox span:before {
    width:64px;
    height:32px;
    margin-right:8px;
    background:#EEE;
    border-radius:32px;
    display:inline-block;
    vertical-align:middle;
    transition:all .5s cubic-bezier(.175, .885, .32, 1);
}
.checkbox span:after {
    margin:2px;
    width:28px;
    height:28px;
    background:#FFF;
    border-radius:28px;
    position:absolute;
    left:0;
    z-index:2;
    transition:all .5s cubic-bezier(.175, .885, .32, 1);
}
.checkbox input:checked + span:after {
    left:32px;
    background-image:none;
}
.checkbox input:checked + span:before {
    background-color:#2098AE;
}
.checkbox .checkbox-title{
    position: absolute;
    left: -95px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 3px;
}
.icheck-primary  span{
    margin-right: 31px;
}

.hide{
    display: none;
}

.datepicker .datepicker-days{
    cursor: pointer;
}
.datepicker .datepicker-days .table-condensed{
    text-align: center;
    width: 100%;
}
/**
 * list-ar-numeric
 */
.list-ar-numeric{
    list-style: -moz-arabic-indic;
    list-style: -o-arabic-indic;
    list-style: arabic-indic;
}

/**
 * =====> dailies
 *
 * ==>medicineTotalPrice
 */
#medicinePrice{
    margin-left: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 22px;
}

/**
 * =====> notifications
 *
 * ==>notify-list notifications-text
 */
.notify-list {
    height: 300px;
    overflow: auto;
}

.notify-list .notification-text{
    white-space: pre-wrap;
}

